<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authority</key>
	<string>https://login.microsoftonline.com/common</string>
	<key>clientId</key>
	<string>bf52924d-a655-41a9-937c-08fda967e7e7</string>
	<key>resourceString</key>
	<string>https://graph.microsoft.com</string>
	<key>redirectUri</key>
	<string>urn:ietf:wg:oauth:2.0:oob</string>
	<key>graphAPI</key>
	<string>https://graph.microsoft.com/v1.0/me/</string>
	<key>api-version</key>
	<string>1.5</string>
	<key>tenant</key>
	<string>kidventus.com</string>
	<key>secret</key>
	<string></string>
</dict>
</plist>
